body {
	background: linear-gradient(teal, darkviolet);
	height: 100vh;
}

h1 {
	color: #bada55;
	text-align: center;
}

h2 {
	 color: aquamarine;
}

p {
	color: azure;
}

li {
	color: yellow;
}

a{
	text-decoration: none;
	font-size: 25px;
	
	border: 2px solid black;
	color: #fff;
	background-color: blue;

	padding: 10px 15px;
	border-radius: 15px;
	cursor: pointer;
}