body {
	padding: 0 50px;
}

.top-page {
	text-decoration: none;
	background: rgba(150, 149, 149, 0.114);
	color: gray;
	border: 1px black;

	padding: 5px 10px;
	border-radius: 50%;
	font-size: 18px;
	
	position: fixed;
	right: 20px;
	bottom: 2px;	
	display: none;
}

nav ul {
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style: none;
}

nav li a {
	text-decoration: none;
	font-size: 20px;
	border: 2px solid #ae9959;
	padding: 5px 15px;
	border-radius: 100px;
	color: white;
	background: #75673c;
}

nav li a:hover {
	background: #ae9959;
}